
@font-face {
    font-family: "open_sanslight";
    src: url("OpenSans-Light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: Verdana, sans-serif;
    padding: 0vmin;
    margin: 0vmin;
}

/* HEADER */

#header {
    width: 100vw;
    height: 3vh;
    background-color: black;
}

#header > div {
    position: absolute;
}

#header .icon {
    left: 1vw;
    cursor: pointer;
}

#header .icon > img {
    height: 3vh;
}

#header .title {
    left: 6vw;
    color: white;
    font-size: 2.2vh;
}
